################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Mopas/v14
/obj
/bin
/_ReSharper.Caches
